




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CrediCorp. Personal Natural</title>
    <style>
        label {
            color: gray;
        }

        p {
            color: gray;
            text-align: justify;
        }

        .float-right {
            float: right !important;
        }

        .container {
            padding-left: 10%;
            padding-right: 10%;
        }

        .row {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-right: 0;
            margin-left: 0;
        }

        .form-group {
            margin-bottom: 1rem;
        }

        .col-6 {
            flex: 0 0 50%;
            max-width: 50%;

        }

        .col-6, .col-12 {
            margin-top: 10px;
        }

        .col-12 {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }

        .form-control {
            display: block;
            width: 85%;
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            background-color: #E0E8E8;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }

        body {
            margin: 0;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            font-size: 0.8rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            text-align: left;
            background-color: #fff;
        }

        .block-green {
            background: rgba(89, 123, 123, 0.65);
            height: 25px;
            margin: 0px;
            text-align: center;
            color: white;
        }
    </style>
</head>
<body>
<div class="container">
    <div style="height: 80px">
        <img src="http://www.ecapture.com.co/img/logo-ecapture.png" style="width:30%;"
             class="float-right">
    </div>

    <h4 style="text-align: center;color: #424C4C!important;font-size: 24px;">
        Formulario de Vinculación Digital
    </h4>
</div>
<div class="container" style="margin-top: 5%">

    <form action="">
        <div class="block-green">
            <h3>Información básica del cliente</h3>
        </div>
        <div class="row form-group">
            <table style="width:100%">
                <tr>
                    <td>
                        <label for="Proyecto Inmobiliario">Proyecto Inmobiliario</label>
                        <input type="text" id="Proyecto Inmobiliario" class="form-control"
                               value="{{ range $key, $value := . }}{{if eq $key "kw11" }}{{ $value }}{{ end }}{{ end }}">
                    </td>
                    <td>
                        <label for="Tipo Inmobiliario">Tipo Inmobiliario</label>
                        <input type="text" id="Tipo Inmobiliario" class="form-control"
                               value="{{ range $key, $value := . }}{{if eq $key "kw12" }}{{ $value }}{{ end }}{{ end }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="IBN- Primer Nombr">Primer Nombre</label>
                        <input type="text" id="IBN- Primer Nombr" class="form-control"
                               value="{{ range $key, $value := . }}{{if eq $key "kw200" }}{{ $value }}{{ end }}{{ end }}">
                    </td>
                    <td>
                        <label for="IBN-Segundo Nombre">Primer Apellido</label>
                        <input type="text" id="IBN-Segundo Nombre" class="form-control"
                               value="{{ range $key, $value := . }}{{if eq $key "kw201" }}{{ $value }}{{ end }}{{ end }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="IBN-Documento (Tipo) CC CE NUIP TI OTRO">Tipo de documento</label>
                        <input type="text" id="IBN-Documento (Tipo) CC CE NUIP TI OTRO" class="form-control"
                               value="{{ range $key, $value := . }}{{if eq $key "kw204" }}{{ $value }}{{ end }}{{ end }}">
                    </td>
                    <td>
                        <label for="IBN-Cual?">Número de documento</label>
                        <input type="text" id="IBN-Cual?" class="form-control"
                               value="{{ range $key, $value := . }}{{if eq $key "kw34" }}{{ $value }}{{ end }}{{ end }}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="IBN-Primer Apellido">Fecha Nacimiento</label>
                        <input type="text" id="IBN-Primer Apellido" class="form-control"
                               value="{{ range $key, $value := . }}{{if eq $key "kw209" }}{{ $value }}{{ end }}{{ end }}">
                    </td>
                    <td>
                        <label for="IBN-Segundo Apellido">Genero</label>
                        <input type="text" id="IBN-Segundo Apellido" class="form-control"
                               value="{{ range $key, $value := . }}{{if eq $key "kw222" }}{{ $value }}{{ end }}{{ end }}">
                    </td>
                </tr>
                <tr>
                    <td>
                            <div class="block-green">
                                    <h3>Información de contacto</h3>
                                </div>
                    </td>
                    <td>
                            <div class="block-green">
                                    <h3></h3>
                                </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="IBN-Primer Apellido">Celular</label>
                        <input type="text" id="IBN-Primer Apellido" class="form-control"
                               value="{{ range $key, $value := . }}{{if eq $key "kw38" }}{{ $value }}{{ end }}{{ end }}">
                    </td>
                    <td>
                        <label for="IBN-Segundo Apellido">Correo Electrónico</label>
                        <input type="text" id="IBN-Segundo Apellido" class="form-control"
                               value="{{ range $key, $value := . }}{{if eq $key "kw39" }}{{ $value }}{{ end }}{{ end }}">
                    </td>
                </tr>
                <tr>
                        <td>
                            <label for="IBN-Primer Apellido">Departamento</label>
                            <input type="text" id="IBN-Primer Apellido" class="form-control"
                                   value="{{ range $key, $value := . }}{{if eq $key "kw229" }}{{ $value }}{{ end }}{{ end }}">
                        </td>
                        <td>
                            <label for="IBN-Segundo Apellido">Ciudad de residencia</label>
                            <input type="text" id="IBN-Segundo Apellido" class="form-control"
                                   value="{{ range $key, $value := . }}{{if eq $key "kw228" }}{{ $value }}{{ end }}{{ end }}">
                        </td>
                </tr>

            </table>
        </div>
    </form>
    <div class="float-left">
        <img src="http://www.ecapture.com.co/img/logo-ecapture.png" width="20%">
    </div>
</div>
</body>
</html>
